
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  width: 100%;
  padding-bottom: 120px;
}

@media (max-width: 768px) {
  .landing-page {
    gap: 80px;
    padding-bottom: 80px;
  }
}
